body{
  margin: 0;
  padding: 0;
}
.container{
  
  max-width: 100vw;
  transition: transform .5s;
}
.navbar{
position: sticky;
top: 0;
z-index: 99;
}
.navbar .iconcart{
position: relative;
}
.navbar .iconcart span{
display: flex;
width: 20px;
height: 20px;
background-color: red;
justify-content: center;
align-items: center;
color: #fff;
border-radius: 50%;
position: absolute;
top:52%;
right: -2px;

}


#demo:hover{
  
  box-shadow: 10px 10px 20px rgb(135, 130, 130);
}

.listProduct .item img{
  filter: drop-shadow(0 10px 10px #0009);
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1/1; 
  
  transition: .5s;
}
.listProduct .item img:hover{

  transform: scale(1.15);
}

.listProduct{
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.listProduct .item {

  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.listProduct .item .card-title{

  text-align: center;
}
.listProduct .item .price{

  font-size: 1.5rem;
  text-align: center;
}
.listProduct .item .addCart{

  background-color: #e8bc0e;
  border: none;
  margin-left: 25%;
  padding: 10px 60px;
  border-radius: 50px;
  font-size: 1.15rem;
}



.cartTab{
  z-index: 99;
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px 70px;
  transition: .5s;
}

body.show .cartTab{
  inset: 0 0 0 auto;
}

.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button{
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btn .close{
  background-color: #eee;
}

.cartTab .listCart .item img{
  width: 100%;
}
.cartTab .listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 100px;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.cartTab .listCart .item span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color:#555 ;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow: auto;

}
.listCart ::-webkit-scrollbar{
  width: 0px;
}
.finalprice h2{
  text-align: center;
  color: #e8bc0e;
  padding: 10px 0px 10px 0px;
  font-weight: 500;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.finalprice h2 span{
  color: white;
}

.dd{
z-index: 99;
position: fixed;
width: 70%;
/* display: none; */
inset : 25vh 0 0 -100%;
transition: .5s;
/* overflow:hidden; */

/* background-color: #353432; */
max-height: 10vh;
}
body.show1 .dd{
/* display: block; */
inset : 5vh 0 0 15%;
}
.placeorder{

  
  width: 100%;
  /* height: 600px; */
  color: #eee;    
  display: flex;
  flex-direction: row;
  

  /* display: none; */
  

  

}
.closeOrder {

position: absolute;
color: white;
float: right;
font-size: 28px;
font-weight: bold;
margin-left: 97%;
margin-top: 10px;
cursor: pointer;

}
.orderDetails{
padding: 0px;
width: 100%;



background-color: rgba(15, 15, 10, 0.9);
}
.deliveryDetails{

width: 100%;
padding: 30px ;
padding-top: 5px;
background-color: rgba(7, 116, 138, 0.9);
}
.deliveryDetails h2{
text-align: center;
}
.deliveryDetails .form1{


display: flex;
flex-direction: column;
}

.deliveryDetails .form1 .lbl{
background-color: transparent;
margin: 5px 40px;
font-size: 1.25rem;
font-weight: 700;
letter-spacing: 2px;
}
.deliveryDetails .form1 .row1{

display: inline-block;
margin-left: 70px;

}
.deliveryDetails .form1 .row1 label{
font-size: 1.25rem;
padding-right: 20px;

}
.deliveryDetails .form1 .inp{
border: none;
margin: 0px 40px;
padding: 7px 15px;
width: 80%;
border-radius: 20px;
}
.deliveryDetails .form1 .inp1{
border: none;
margin: 0px 0px 10px 40px;
padding: 5px 10px;
width: 80%;
border-radius: 10px;
}
.deliveryDetails .form1 button{
margin: 5px 40px;
padding: 10px;
width: 80%;
border-radius: 25px;
font-weight: 500;
font-size: 20px;
background-color: #e8bc0e;
color:rgb(54, 54, 54);
letter-spacing: 1px;
border: none;
box-shadow: 5px 5px 15px rgba(15, 15, 10, 0.9);
}
.orderDetails h2{

text-align: center;
padding: 10px;

}

.orderDetails .LC1{
padding-left: 20px;
max-height: 50%;
display: grid;
grid-template-rows: repeat(20px  80px) ;
overflow: auto;

/* border: 1px solid wheat; */
/* border-radius: 10px; */
margin: 10px;


}


.orderDetails .LC1 ::-webkit-scrollbar{
width: 0;
}

.orderDetails .LC1 .item1{
margin-top: 0px;

  display: grid;
  grid-template-columns: 70px 200px 100px 150px;
  gap: 0px;
  text-align: center;
  align-items: center;
}

.orderDetails .LC1 .item1 img{
/* margin-top: 5px; */
padding: 2px;
width: 100%;
}

.orderDetails .LC1 .item1 span{
display: inline-block;
width: 31px;
height: 25px;
background-color: transparent;
color:#eee ;
border-radius: 50%;
cursor: pointer;
}

.orderDetails .LC1 .quantity span:nth-child(2){
margin-left: -6px;
background-color: transparent;
color: #eee;
}
.orderDetails .LC1 .item1:nth-child(even)
{
background-color: #eee1;
}
.orderDetails .orderSumary{
margin-top: 10px;
max-height: 40%;

}
.orderDetails .orderSumary .tAmtSpan{
display: flex;
flex-direction: row;
margin-left: 10%;
margin-bottom: 5%;
}
.orderDetails .orderSumary .tAmtSpan h3{
  margin-left: 20px;
}
.orderDetails .orderSumary .tAmtSpan .Thead{

width: 200px;
color: yellow;
}
.orderDetails .orderSumary .tAmtSpan .Thead .GtAmtS{
border-top: 5px solid wheat;
}
